/* Модальне вікно */
.filters-wrapper {
  position: absolute;
  background: #1f1f1f;
  /* border: 1px solid rgba(190, 219, 176, 0.5); */
  border-radius: 8px;
  right: 24px;
  top: 14%;
}

.filters-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  background: #151515;
}

/* Кнопка з іконкою */
.filter-button {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  background: none;
  border: none;
  cursor: pointer;
  right: 0;
}

.svg-icon {
  width: 16px;
  height: 16px;
  border: 1.5px solid #ffffff;
  stroke-width: 1.50px;
  stroke: rgba(255, 255, 255, 0.8);
  background: #1f1f1f
}

.filters-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

/* модалка */

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-content {
  border: 1px solid rgba(190, 219, 176, 0.5);
  border-radius: 8px;
  width: 300px;
  height: 234px;
  background: #151515;
  position: relative;
  width: 300px;

  margin: 0 auto;
  /* Це позиціонує контент по центру вікна */
  padding: 20px;
  /* Додає відступи для контенту */
  box-sizing: border-box;
}

.modal-title {
  position: absolute;
  width: 51px;
  height: 27px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  left: 24px;
  top: 24px;
}

.modal-vector {
  position: absolute;
  width: 252px;
  height: 0px;
  left: calc(50% - 252px/2);
  top: 65px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Label color */
.modal-text {
  position: absolute;
  width: 74px;
  height: 21px;
  left: 24px;
  top: 79px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin-bottom: 14px;
}

.modal-show-all {
  position: absolute;
  width: 48px;
  height: 18px;
  left: 228px;
  top: 79px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.5);
}

.modal-priorities {
  width: 125px;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  /* gap: 8px; */
  position: absolute;
  left: 24px;
  top: 114px;
}

/* Without priority */
.priority-item:nth-child(1) span {
  padding-left: 8px;
  color: rgba(255, 255, 255, 0.5);
}

/* Low */
.priority-item:nth-child(2) span {
  padding-left: 8px;
  color: #FFFFFF;
}

/* Medium */
.priority-item:nth-child(3) span {
  padding-left: 8px;
  color: rgba(255, 255, 255, 0.5);
}

/* High */
.priority-item:nth-child(4) span {
  padding-left: 8px;
  color: rgba(255, 255, 255, 0.5);
}

.modal-priorities span {
  vertical-align: middle;
}

.priority-item {
  display: flex;
  align-items: center;
  margin-top: 8px;
  /* або використайте padding-top: 8px; */
}