/* styles.css */

.filters-wrapper {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 64px;
  height: 20px;
  left: 1352px;
  top: 82px;
}

.filter-icon {
  /* filter */
  width: 16px;
  height: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.vector {
  position: absolute;
  left: 8.33%;
  right: 8.33%;
  top: 12.5%;
  bottom: 12.5%;
  border: 1.5px solid rgba(255, 255, 255, 0.8);
}

.filters-text {
  /* Filters */
  width: 40px;
  height: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.8);
}

.svg-icon {
  border-radius: 100%;
  fill: rgba(255, 255, 255, 0.3);
}