.react-datepicker {
  background-color: rgba(31, 31, 31, 1);
  border-radius: 8px;
  border: none;
  width: 233px;
  max-height: 300px;
}

.react-datepicker__day {
  font-family: Poppins;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.32px;
  margin: 4px;
}

.react-datepicker__day:hover {
  background: rgba(190, 219, 176, 0.5);
  border-radius: 50%;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background: rgba(190, 219, 176, 1);
  border-radius: 50%;
}

.react-datepicker__day--selected:hover {
  background: rgba(190, 219, 176, 0.5);
  border-radius: 50%;
}

.react-datepicker__day--disabled {
  color: rgba(255, 255, 255, 0.2);
}

.react-datepicker__month-container {
  border-radius: 8px;
  border: 1px solid rgba(190, 219, 176, 1);
  background-color: rgba(31, 31, 31, 1);
  width: 233px;
  /* height: 254px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-datepicker__header {
  background-color: rgba(31, 31, 31, 1);
  width: 197px;
  color: white;
  border: none;
  padding-top: 18px;
  padding-bottom: 11px;
}

.react-datepicker__navigation-icon::before {
  width: 6px;
  height: 6px;
  border-radius: 10%;
  border: 1.5px solid rgba(190, 219, 176, 1);
  border-width: 1.5px 1.5px 0 0;
}

.react-datepicker__navigation-icon:hover::before
  &
  .react-datepicker__navigation-icon::before {
  border: 1.5px solid rgba(190, 219, 176, 0.5);
}

.react-datepicker__navigation {
  top: 18px;
}
.react-datepicker__month {
  margin-bottom: 18px;
  width: 197px;
}
.react-datepicker__week {
}

.react-datepicker__current-month {
  color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
  text-align: center;
  padding-bottom: 14px;
}

.react-datepicker__day-names {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 14px;
}

.react-datepicker__day-name {
  color: rgba(255, 255, 255, 0.5);
  margin: 4px;
}

.custom-input {
  display: block;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.32px;
  text-align: left;
  background-color: inherit;
  color: rgba(190, 219, 176, 1);
  border: none;
  padding: 0;

  transition: color, 0.3s;
  &:hover {
    color: rgba(190, 219, 176, 0.5);
  }
}
