.modal-overlay {
  position: fixed;
  top: 30%;
  left: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  background-color: #161616;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 350px;
  border: 1px solid rgba(190, 219, 176, 0.5);
  background: #151515;
  height: 221px;
}

.modal h2 {
  margin-top: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #fff;
}

.modal input {
  margin-top: 24px;
  margin-bottom: 24px;
  border: 1px solid #bedbb0;
  border-radius: 8px;
  width: 302px;
  height: 49px;
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
  background: #1f1f1f;
  opacity: 0.4;
  color: white;
}

.modal-button {
  margin-right: 10px;
  border-radius: 8px;
  width: 302px;
  height: 49px;
  background: #bedbb0;
  color: white;
  /* Забираємо дубльовану властивість color */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  /* Задаємо білий колір для кнопки закриття */
}

.close-button svg {
  width: 18px;
  height: 18px;
}

.close-button path {
  stroke: white;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.add-button {
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #161616;
  width: 64px;
  height: 28px;
}

.feather.feather-plus {
  border-radius: 6px;
  fill: #161616;
  width: 28px;
  height: 28px;
  margin-right: 6px;
}