.home_page_wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #815e5e;
  position: relative;
}
@media screen and (min-width:1440px) {
  .home_page_wrapper {
    display: flex;
    position: static;
  }
}