.logOutContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}

.logoutButton {
  background: transparent;
  border: none;
}

.iconLogOut {
  width: 32px;
  height: 32px;
}

.logOutText {
  font-size: 14px;
  color: var(--sidebar_text_color);
}
