@import-normalize; /* bring in normalize.css styles */
@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: url('./fonts/Poppins-Medium.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url('./fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: url('./fonts/Poppins-SemiBold.ttf');
}
:root {
  font-size: 12px;
  color: #161616;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Poppins', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.light {
  --main_text_color: #161616;
  --sidebar_text_color: #161616;
  --accent: #bedbb0;
  --accent_hover: #9dc888;
  --light_text: rgba(22, 22, 22, 0.7);
  --void_page_color: #f6f6f7;
  --logo_bg: #1f1f1f;
  --logo_symbol: #ffffff;
  --background_sidebar: #ffffff;
  --background_header: #ffffff;
  --background_taskList: #fdfdfd;
  --background_help: #e5e5e5;
  --background_task_item: #ffffff;
  --scroll_bar_color: #E8E8E8;
  --scroll_bar_bg_color: #ffffff;
  --calendar_help: rgba(22, 22, 22, 0.2);
  --button_svg_background: #161616;
  --add_card_btn_svg: #ffffff;
  --add_card_btn_svg_bg: #161616;
}
body.dark {
  --main_text_color: #ffffff;
  --sidebar_text_color: #ffffff;
  --accent: #bedbb0;
  --accent_hover: #9dc888;
  --logo_bg: #1f1f1f;
  --logo_symbol: #ffffff;
  --void_page_color: #1f1f1f;
  --light_text: rgba(255, 255, 255, 0.5);
  --background_sidebar: #121212;
  --background_header: #161616;
  --background_taskList: #1f1f1f;
  --background_help: #1f1f1f;
  --background_task_item: #121212;
  --scroll_bar_color: rgba(255, 255, 255, 0.1);
  --scroll_bar_bg_color: #161616;
  --calendar_help: rgba(255, 255, 255, 0.2);
  --button_svg_background: #161616;
  --add_card_btn_svg: #ffffff;
  --add_card_btn_svg_bg: #161616;
}
body.violet {
  --main_text_color: #161616;
  --sidebar_text_color: #ffffff;
  --accent: #5255bc;
  --accent_hover: #7b7ede;
  --light_text: rgba(22, 22, 22, 0.7);
  --void_page_color: #ecedfd;
  --logo_bg: #ecedfd;
  --logo_symbol: #5255bc;
  --light_text: rgba(22, 22, 22, 0.7);
  --background_sidebar: #5255bc;
  --background_header: #ffffff;
  --background_taskList: #d6d8ff;
  --background_help: rgba(236, 237, 253, 0.4);
  --background_task_item: #ffffff;
  --scroll_bar_color: #b8bcfd;
  --scroll_bar_bg_color: #FFFFFF;
  --calendar_help: rgba(22, 22, 22, 0.2);
  --button_svg_background: #ffffff;
  --add_card_btn_svg: #161616;
  --add_card_btn_svg_bg: #ffffff;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  border: 2px solid red;
  max-width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-right: 24px;
    padding-left: 24px;
  }
}
/* body.light {
  --main_text_color: #161616;
  --sidebar_text_color: #161616;
  --accent: #bedbb0;
  --void_page_color: #f6f6f7;
  --accent_hover: rgba(190, 219, 176, 0.5);
  --light_text: rgba(22, 22, 22, 0.7);
  --background_sidebar: #ffffff;
  --background_header: #ffffff;
  --background_taskList: #fdfdfd;
  --background_help: #e5e5e5;
  --background_task_item: #ffffff;
  --scroll_bar_color: rgba(255, 255, 255, 0.1);
  --calendar_help: rgba(22, 22, 22, 0.2);
}
body.dark {
  --main_text_color: #ffffff;
  --sidebar_text_color: #ffffff;
  --accent: #bedbb0;
  --void_page_color: #1f1f1f;

  --light_text: #bedbb0;
  --background_sidebar: #121212;
  --background_header: #161616;
  --background_taskList: #1f1f1f;
  --background_help: #1f1f1f;
  --background_task_item: #121212;
  --scroll_bar_color: #e8e8e8;
  --calendar_help: rgba(255, 255, 255, 0.2);
}
body.violet {
  --main_text_color: #161616;
  --sidebar_text_color: #ffffff;
  --accent: #5255bc;

  --accent_hover: rgba(82, 85, 188, 0.5);
  --light_text: rgba(22, 22, 22, 0.7);
  --background_sidebar: #5255bc;
  --background_header: #ffffff;
  --background_taskList: #d6d8ff;
  --background_help: rgba(236, 237, 253, 0.4);
  --background_task_item: #ffffff;
  --scroll_bar_color: #b8bcfd;
  --calendar_help: rgba(22, 22, 22, 0.2);
} */