.modal {
  padding: 24px;
  position: relative;
  border: 1px solid rgba(190, 219, 176, 0.5);
  border-radius: 8px;
  width: 350px;
  height: 221px;
  background-color: var(--add_column_modal_bg);
}

.close_btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 14px;
  right: 14px;
}

.close_svg {
  stroke: var(--main_text_color);
}

.close_svg:hover {
  stroke: var(--accent);
}

.title {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: var(--main_text_color);
  margin-bottom: 24px;
}

.submBtn {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: 302px;
  height: 56px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--add_card_btn_svg_bg);
  cursor: pointer;
  background-color: var(--accent);
  border: none;
  outline: none;
  border-radius: 8px;
  transition: background-color 250ms linear;
}

.submBtn:hover {
  background-color: var(--accent_hover);
}

.svg_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  background-color: var(--add_card_btn_svg_bg);
}

.btn_plus_icon {
  stroke: var(--add_card_btn_svg);
}

.input {
  background-color: transparent;
  margin-bottom: 24px;
  width: 302px;
  padding: 14px 18px;
  border: 1px solid var(--accent);
  border-radius: 8px;
  width: 302px;
  height: 49px;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--main_text_color);
}

.input::placeholder {
  color: var(--light_text);
}

.input:focus {
  outline: none;
  /* box-shadow: 0 2px 5px 0 var(--accent); */
} 